* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    font-family: 'Tahoma', Geneva, Verdana, sans-serif;
    width: 100%;
}

/* Header */
.header {
    background-color: #0f1831;
    color: rgb(235, 224, 224);
    width: 99vw;
}

/* Logo */
.logo {
    max-height: 120px;
    max-width: 80%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* Navigation */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navlist {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navlist li {
    margin-right: 30px;
}

.navlist a {
    color: rgb(235, 224, 224);
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

.navlist a:hover {
    color: rgb(73, 152, 213);
}

/* Footer Style */
.footer {
    background-color: #0f1831;
    color: rgb(235, 224, 224);
    margin-top: 1%;
    width: 99vw;
}

.footerTopic {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1.5%;
    font-size: x-large;
    font-weight: bold;
}

.footer .content {
    display: flex;
    justify-content: space-evenly;
}

.footer .content p {
    margin-bottom: 1.3rem;
}

.footer .content a {
    text-decoration: none;
    color: rgb(235, 224, 224);
}

.footer .content a:hover {
    border-bottom: 1px solid rgb(235, 224, 224);
}

.footer .content h4 {
    margin-bottom: 1.3rem;
    font-size: 19px;
}

footer {
    text-align: center;
}

@media (max-width: 767px) {
    .footer .content {
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }

    .footer {
        position: unset;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .footer .content,
    .footer {
        font-size: 14px;
    }
}

@media (orientation: landscape) and (max-height: 500px) {
    .footer {
        position: unset;
    }
}

/* Footer Style End */

.functionheading{
text-align: center;
margin-top: 3%;
margin-bottom: 3%;
}

.nightfunction {
    width: 99vw;
    height: 50%;
    display: flex;
    background-color: whitesmoke;
}

.nightfunnctionimage11 {
    width: 50%;
    height: 30vw;
}

.nightmessagepara {
    text-align: center;
    font-size: larger;
    padding-top: 7%;
    padding-bottom: 1.5%;
}
.nightfunctionmessage11 {
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    padding-right: 1%;
    padding-left: 1%;
    width: 50vw;
    line-height: 1.9;
}

.nightfunctionmessage1{
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.dayfunction {
    width: 99vw;
    height: 50%;
    display: flex;
    background-color: whitesmoke;
    margin-top: 3%;
}

.dayfunctionimage11 {
    width: 50vw;
    height: 30vw;
}

.daymessagepara {
    text-align: center;
    font-size: larger;
    margin-top: 7%;
    margin-bottom: 1.5%;
}
.dayfunctionmessage11 {

    margin-top: 3.5%;
    width: 50vw;
    line-height: 1.9;
}

.dayfunctionmessage1{
    padding-left: .5%;
    padding-right: .5%;
}